langgraph
langchain
langchain-community
langchain-core

langchain-ollama
ollama

pandas
numpy

sqlalchemy
psycopg2-binary

requests

python-dotenv

pydantic

fredapi

sec-edgar-downloader

streamlit

pgvector